body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 70%;
  height: auto;
  margin: 0 auto; /* 좌우 중앙 정렬을 위한 설정 */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
