.carousel-container {
  overflow: hidden; /* 자식 요소가 커질 때 잘리지 않도록 설정 */
  height: 440px;
}

@medias (max-width: 480px) {
  .carousel-container {
    overflow: hidden;
    height: 330px;
    display: flex;
    justify-content: space-between;
  }
}

.movie-slider-container {
  display: flex;
  flex-direction: column;
}

.movie-slider-container > h3 {
  margin-bottom: -30px;
  font-weight: 700;
  font-size: 2rem;
}
